body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
}

header {
  width: 100%;
  position: sticky;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #264348;
}

ul{
    list-style-type: none;
    float: right;
}

nav ul li {
  float: left;
}
#logo{
  float: left;
  height: 80px;
  width: auto;






}
video{
  width: 100%;
  margin-bottom: 3%;
}

.nav li a {
  display:block;
  color: #fefefa;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}
#dropmenu{
  display: none;
}
#main{
   margin: auto;
   width: 80%;
   overflow: auto;
   padding: 10px;

}
.sidecontent{
  width: 50%;
  margin-top: 20%;
}

#text{
  margin-top: 10%;
  font-family:serif;
  font-size: 14px;
  opacity: 0.6;
}

.phrase{
  font-family: sans-serif;
  opacity: 0.8;
}

.author{
  opacity: 0.8;
  font-style: italic;
  margin-left: 20%;
}

.puppy{
  margin: 5% 3%;
  float: right;
  width: 50%;
  animation-name: heroimage;
  animation-duration:2s;
  animation-delay: 0s;
  animation-timing-function: linear;

}
@keyframes heroimage {
  0%{filter: opacity(0.5);}
  25%{filter: opacity(0.6);}
  50%{filter: opacity(0.7);}
  75%{filter: opacity(0.8);}
  100%{filter: opacity(1);}
}
button{
  margin-top: 10px;
  margin-left: 10%;
  background-color:  #cc4e5c;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  cursor: pointer;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #eedc82;
  overflow: hidden;
  width: 100%;
}

.social{
  float: left;
  width: 50%;
  text-align: center;
  padding: 1%;
  color: #444444;
}
.social li{
  float: left;
  padding-left:5px;
}
.privacy{
  float: left;
  width: 20%;
  text-align: center;
  padding: 1%;
}
.social li a{
display: block;
width: 25px;
height: 25px;
cursor: pointer;
background-color:  #555555;
border-radius: 5px;

font-size: 20px;
color: #fefefa;
text-align: center;
line-height: 25px;

margin-right: 5px;
margin-bottom: 5px;
}
.privacy a {
  text-decoration: none;
  color: #444444;

}
.copy{
  float: left;
  width: 20%;
  text-align: center;
  padding: 1%;
  color: #444444;
}

.main_2{
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
}
.col{
  width: 29.3%;
  height: auto;
  float: left;
  text-align: center;
  padding: 1%;

}
.col_1, .col_3, .col_2{
  background-color: #fefefa;
  margin: 1%;
  border-radius: 8px;
}
.img1{
  width: 100%;
  height: 400px;
  background-image: url('media/meritt-thomas-dAEVb8PkYyQ-unsplash.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}
.img2{
  width: 100%;
  height: 400px;
  background-image: url('media/carren-slim-main-538x350.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}
.img3{
  width: 100%;
  height: 400px;
  background-image: url('media/dog-getting-pet-2033478.jpg');
  background-repeat:no-repeat;
  background-size: cover;
  background-position: center;
}
h2{
  opacity: 0.8;
  font: sans-serif;
}

.text_awards{
  text-align: left;
  opacity: 0.7;
  font: serif;

}
.main3{
  margin: 5% 8%;
 overflow: hidden;
}
h1{
  opacity: 0.8;
}
.about_img{
  width: 100%;

}

.about_img2{
  float: right;
  width: 40%;
  margin: auto 3%;
}
.text_about{
  text-align: left;
  opacity: 0.7;
  font: serif;
  font-size: 1.5em;
}
.btnsend{
  margin-left: auto;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin: 3% auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

button[type=submit] {
  background-color: #cc7458;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button[type=reset] {
  background-color: #cc7458;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background-color: #dea593;
}
button[type=reset]:hover {
  background-color: #dea593;
}
.registerbtn {
  margin-left: auto;
  width: 100px;
}
form {
  border-radius: 5px;

  padding: 20px;
  width: 60%;
  margin:5% 20%;
}

#register{
  margin: 0;
  padding: 0;
  width: 60%;
}
/* Add padding to containers */
.container-reg {
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
input[class="formsreg"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: 1px solid #ccc;
  background: white;
  border-radius: 4px;
}
button:focus{
  outline: none;
}
.main-login{
  height: 100vh;
}


/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}



/* Responsove Design*/

@media screen and (max-width: 800px) {

  body{
    margin: 0;
    position: relative;
    padding-bottom: 6rem;
    min-height: 100%;
  }
header, footer{

  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}
ul{
  float: none;
}
  .nav li{
    display: block;
    float: none;
    width: 100%;
  }

  .nav li a{
    text-align: center;

  }
  #logo{
    float: none;
    margin-left: 43%;
  }

 #main{
   max-width: 100%;
   overflow: hidden;
   display: flex;
   flex-flow: column;
 }

  .puppy{
    width: 100%;
    float: none;
    margin: 0;
    order: 2;
  }


  .sidecontent{
    margin-top: 0;
    text-align: center;
    width: 100%;

  }
  #text{
    text-align: left;
    width: 80%;
    padding-left: 10%;
    font-size: 18px;
    order: 3;

  }
   button{
     margin-left: 0;
     width: 40%;
     margin-left: 25%;
   }
   #become{
     order: 4;
   }
   .col{
     width: 90%;
     margin-left: 5%;
   }
   .text_awards
   {
     font-size: 1.3em;
   }
   .about_img2{
     width: 100%;
     margin: 3% 3%;
   }
   .text_about{
     margin-top: 3%;
   }
   form{
     width: 100%;
     margin: 0;
     padding: 0;

   }
   .btnsend{
     margin-left: 10%;
     width: 20%;
   }
   table, tbody, th, td, tr {
    display: block;
  }
  .categ{
    display: none;
  }
  tr { border: 1px solid #ccc; }
  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 100px;
    margin-left: 150px;
  }
  td:before {
    position: absolute;
    top: 12px;
    left: 6px;
    width: 200px;
    padding-right: 40px;
    white-space: nowrap;
    margin-left: -150px;
  }
  td:nth-of-type(1):before { content: "Category"; }
  td:nth-of-type(2):before { content: "Name"; }
  td:nth-of-type(3):before { content: "Breed"; }
  td:nth-of-type(4):before { content: "Owner";}
  td:nth-of-type(5):before { content: "Location";}
}
#register{
   width: 100%;
}



}

}
